:root {
    --color-DarkBlueintroandemailsignupbackground: hsl(217, 28%, 15%);
    --color-DarkBlueMainBackground: hsl(218, 28%, 13%);
    --color-DarkBlueFooterBackground: hsl(216, 53%, 9%);
    --color-DarkBlueTestimonialsBackground: hsl(219, 30%, 18%);
    --color-CyanInsideCall-To-ActionGradient: hsl(176, 68%, 64%);
    --color-BlueInsideCall-to-ActionGradient: hsl(198, 60%, 50%);
    --color-LightRederror: hsl(0, 100%, 63%);
    --color-White: hsl(0, 0%, 100%);
    --color--clr: hsl(0, 0%, 100%);
    --color-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  *, *::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2{
    color: var(--color-White);
  font-family: 'Bellefair', serif; 
    font-weight: 400;
    font-size:5rem ;
  }



  p, h1, h3{
    color: #CFD2CF;
     font-family: 'Barlow Condensed', sans-serif;
     font-size: 1.1rem;
     word-spacing: 2px;
     font-weight: 400;
     line-height: 1.5;
     letter-spacing: 1.5px;
  }

  h1{
    font-size: 1.3rem;
    font-weight: 500;
  
  }

h3, .circle-text{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color:hsl(218, 28%, 13%);
  font-weight: 500;
}

.conatiner{
  position: relative;
  margin: 1.5rem 1rem;
}


.two-divs{
  display: grid;
  grid-gap: 90px;
}

  .text-content{
    display: grid;
    margin-top: 3rem;
    justify-items: center;
    text-align: center;
    grid-gap: 20px;
  }

  .circle-box{
    display: grid;
    justify-content: center;
  }

  .circle{
display: grid;
justify-content: center;
align-items: center;
width: 170px;
height: 170px;
background-color: white;
border-radius: 100px;
  }



  #menuToggle{

  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

}

#menuToggle a{

  text-decoration: none;
  color:var(--color--clr);
  transition: color 0.3s ease;

}



#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 6px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  padding: 5rem 1.5rem;
  top: -41px;
  left: -217px;
  position: absolute;
  width: 267px;
  height: 100vh;
  background: rgba(255,255,255,.05);
  -webkit-backdrop-filter: blur(70px);
  backdrop-filter: blur(80px);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(200%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 10px 0;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}

/* destination */

.two-divs-01, .info{
  display: grid;
  grid-gap: 20px;
}

.info{
  grid-gap: 30px;
}

.content-01, .content-02{
  display: grid;
  margin-top: 3rem;
  justify-items: center;
  text-align: center;
  grid-gap: 50px;
}

.num1{
  color:darkgrey;
}

.heading-01, .heading-02{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}

.img-01{
  width: 200px;
}

.nav-01{
  display: flex;
  justify-content: space-evenly;
  /* color: #CFD2CF; */
  color: #cfd2cfcb;
  list-style-type: none;
  font-family: 'Barlow Condensed', sans-serif;
}

.li-01{
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #cfd2cfcb;
  display: inline-block;
  position: relative;
}



.li-01:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color:  #CFD2CF;;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.li-01:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.heading-02-01{
  text-transform: uppercase;
  font-size: 4rem;
}



.text-01{
  display: grid;
  text-align: center;
  grid-gap: 20px;
}

hr{
border: 1px solid  #cfd2cf60;
opacity: 0.5;

}

.stats{
  display: grid;
  grid-gap:20px ;
  justify-content: center;
  text-align: center;

}


.stats-grid{
  display: grid;
  grid-gap:10px ;
}

.num, .num2{
  font-size: 2rem;
  color: var(--color-White);
}


/* crew */

.two-divs-02-02{
  display: grid;
  justify-content: center;
}

.nav-02, .nav-03{
  display: flex;
  justify-content: center;
  color: #CFD2CF;
  list-style-type: none;
  padding-top: 1rem;
}



.img-02{
height: 300px;
}

.dot{
  margin: 1rem;
  width: 15px;
  height: 15px;
  background-color: #9599956b;
  border-radius: 100px;
}



.dot:hover{
  background-color: #ffffff;
}

.text-02{
  display: grid;
  text-align: center;
}

.heading-02-02{
  text-transform: uppercase;
  color: #959995;
  font-size: 1.5rem;
}

.p-02-02{
  text-transform: uppercase;
  font-family: 'Bellefair', serif; 
  color: #CFD2CF;
  font-size: 2.5rem;
}



.img-03{
  width: 100%;
}

.dot-one, .dot-two, .dot-three{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid #CFD2CF;
}

.dot-one:hover, .dot-two:hover, .dot-three:hover{
  background-color: #ffffff;
  color: #000;
}

.number{
  font-family: 'Bellefair', serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.text-03{
  display: grid;
  grid-gap: 10px;
  text-align: center;

}

.tech-p1{
    color: #ffff;
  font-size: 1.5rem;
  font-family: 'Bellefair', serif; 
  text-transform: uppercase;
}

.tech-p2{
  font-size: 1.1rem;
}

.tech-p{
  text-transform: uppercase;
}


.desktop-heading-02, .desktop-nav, .desktop-heading{
  display: none;
}



@media (min-width:768px) {


  .desktop-num{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
  }

  .two-divs {
    justify-content: center;
}

.text-content {
  width: 500px;
}

  .mobile-nav, .heading-02, .mobile-heading{
    display: none;
  }
  .desktop-heading{
    display: block;
  }

  a{
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    /* padding: 0px 20px; */
    color: var(--color--clr);
  }

  nav {
    align-items: baseline;
}



.desktop-nav {
    background-color: rgba(255,255,255,.05);
    height: 100px;
    display: grid;
    align-content: center;
    position: relative;
    top: -24px;
    left: 15px;
    width: 530px;
    padding-left: 30px;
    padding-bottom: 10px;
}
 
.desktop-menu {
  list-style-type: none;
  display: flex;
  column-gap: 40px;
}
  .content-01{
    margin-top: 1rem;
  }

  .heading-01{
    justify-self: left;
  }

  
  .img-01{
width: 300px;
}

.nav-01 {
  justify-content: center;
  column-gap: 40px;
}

.two-divs-01, .info {
  grid-gap: 15px;
}

.text-01 {
  justify-self: center;
  width: 500px;
}

.stats {
  display: flex;
  grid-gap: 50px;
  justify-content: center;
  text-align: center;
}

.hr-02{
  display: none;
}

.two-divs-02-02{
  display: grid;
}

.content-02{
  order: 1;
  display: grid;
  margin-top: 3rem;
  justify-items: center;
  text-align: center;
  grid-gap: 50px;
}

.img-02 {
  height: 415px;
  position: absolute;
}

.img-01{
  order: 1;
}

.nav-02 {
order: 1;
}

.desktop-heading-02{
  display: block;
}

.text-02{
    justify-self: center;
    width: 500px;
}

.text-03 {
    margin-top: 2rem;
}

}

@media (min-width:1024px) {


  .li-01-01{
    /* display: inline-block; */
    position: relative;
  }


  .li-01-01:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -40px;
    left: 0;
    background-color:white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.li-01-01:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
  .heading-02 {
    text-transform: uppercase;
    display: block;
    position: relative;
    left: -779px;
}
  hr {
    bottom: -25px;
    position: relative;
    width: 500px;
    display: block;
}
  
.nav-02, .nav-03 {
  display: flex;
  justify-content: center;
  color: #CFD2CF;
  list-style-type: none;
  /* padding-top: 1rem; */
  padding-right: 3rem;
}


.desktop-heading{
  padding-left: 5rem;
}

  .two-divs {
    display: flex;
    justify-content: space-around;
    align-items: self-end;
    margin-top: 5rem;
}

.text-content {
  justify-items: normal;
  width: 425px;
  text-align: left;
}

.two-divs-01{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-01 {
  width: 350px;
}

.two-divs-02-02 {
  display: flex;
  justify-content: space-around;
  align-items: end;
}


.img-02 {
  height: 440px;
  position: relative;
  bottom: -20px;
}

.text-02 {
  text-align: left;
  width: 400px;
}

.nav-02 {
  margin-top: 4rem;
  justify-content:left;

}

.content-02 {
margin-top: 0.5rem;
}

.two-divs-02 {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: -37px;
}

.info {
  grid-gap: 30px;
  text-align: left;
  justify-items: left;
}

.info-3{
  display: flex;
  order: -1;
  align-items: center;
}

.nav-03{
  display: grid;
}

.text-01 {
text-align: left;
}

.tech-p1 {
  font-size: 2rem;
}

.text-03{
  width: 450px;
  text-align: left;
  margin-top: 0;
}

.img-03 {
  width: 340px;
  position: relative;
  left: 97px;
}

.stats-grid {
  text-align: left;
}
.dot-one, .dot-two, .dot-three {
  width: 55px;
  height: 55px;
}

.dot-one:hover, .dot-two:hover, .dot-three:hover{
  cursor: pointer;
}

}

@media (min-width:1366px) {

  .conatiner {
    margin: 1.5rem 3rem;
}

.desktop-nav {
  backdrop-filter: blur(80px);
  height: 100px;
  top: -11px;
  left: 50px;
  width: 750px;
  padding-left: 80px;
  padding-bottom: 10px;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}
.two-divs-01{
  padding: 0 2rem;
}

.info {
  grid-gap: 30px;
  text-align: left;
  justify-items: left;
}

.text-01 {
  text-align: left;
}

.img-01 {
  width: 400px;
}

/* .img-02 {
  bottom: -77px;
} */

.img-03{
 left: 155px;
}

}